body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

header {
    height: 901px;
    background-image: url("../images/headerBackgound.png");
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 55px;
}

nav {
    display: flex;
    margin-left: 11.5%;
    justify-content: space-between;
}

.menu-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 45px;
}

.menu-item:last-child{
    margin-right: 0;
}

.phone-img {
    width: 22px;
    height: 22px;
    background-image: url("../images/phone.png");
    margin-right: 13px;
}
.header-phone {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: auto;
}

.phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.work-time {
    margin-top: 151px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.06em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.greetings {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 88px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.button-reserve {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 270px;
    background-color: #3A4574;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.socials {
    display: flex;
}
.social {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 23px;
    align-items: center;
    justify-content: center;
}

.social:last-child {
    margin-right: 0;
}

.events {
    display: flex;
    height: 808px;
    background-color: #FFFFFF;
}

.event {
    padding-bottom: 19px;
    padding-top: 20px;
    border-bottom: 1px solid #E7E7E7
}

.timetable {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 479px;
}

.event-day {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.dishes {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.dish {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-right: 12px;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #D3B47F;
    margin-right: 12px;
}

.event-pictures {
    position: relative;
}

.picture {
    position: absolute;
}

.picture-border {
    width: 471px;
    height: 502px;
    border: 2px solid #D3B47F;
    left: 597px;
    bottom: -5px;
    z-index: 0;
}

.first-picture {
    width: 323px;
    height: 486px;
    background-image: url("../images/Rectangle 77.png");
    z-index: 1;
    right: 345px;
    bottom: -88px;
}

.second-picture {
    width: 323px;
    height: 486px;
    background-image: url("../images/Rectangle 80.png");
    z-index: 2;
    right: 0px;
    bottom: 64px;
}

.reviews {
    height: 782px;
    background-color: #3A4574;
}

.review-head {
    width: 83px;
    height: 58px;
    background-image: url("../images/“.png");
    margin-top: 219px;
}

.review-wrapper{
    position: relative;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.review-main {
    margin-top: 34px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #D3B47F;
    text-align: center;
}

.review-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.review-author {
    margin-left: 5px;
    margin-top: 31px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.245em;
    color: #D3B47F;
    align-items: center;
}

.review-button {
    position: absolute;
    cursor: pointer;
}

.button-right {
    right: 16px;
    top: 360px;
}

.button-left {
    left: 16px;
    top: 360px;
}

.review-button > svg:hover {
    stroke: #D3B47F;
}

.food {
    display: flex;
    justify-content: space-between;
}

.food {
    margin-bottom: 30px;
}
.upper-food {
    margin-top: 109px;    
}

.lower-food {
    margin-bottom: 80px;
}

.upper-food > .food-picture {
    width: 670px;
    height: 560px;
    background-image: url("../images/goat.png");
} 

.middle-food > .food-picture {
    width: 670px;
    height: 560px;
    background-image: url("../images/beer.png");
}

.lower-food > .food-picture {
    width: 670px;
    height: 560px;
    background-image: url("../images/coctails.png");
}

.food-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 14px;
}

.thesis {
    font-weight: 700;
    font-size: 40px;
    line-height: 88px;
    color: #000000;
    margin-bottom: 20px;
}

.quote {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
}

.thesis:after {
    position: absolute;
    margin-top: 4px;
    width: 108px;
    margin-bottom: 16px;
    border: 2px solid #D3B47F;
    content: "";
    left: -58px;
    bottom: 270px;
}

.interior {
    display: flex;
    background: linear-gradient(180deg, #3A4574 64%, #FFFFFF 36%);
    position: relative;
    flex-direction: column;
}

.interior-header {
    margin-top: 68px;
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
    color: #FFFFFF;
    justify-content: left;
}

.interior-text{
    margin-top: -8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    justify-content: left;
}

.interior-button {
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.button-left-picture {
    top: -155px;
    right: 476px;
}

.button-right-picture {
    top: -155px;
    right: 372px;
}

.interior-button > svg:hover {
    stroke: #D3B47F;
}

.container-feedback {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

input:focus::placeholder {
    opacity: 0;
}

.contacts {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contacts-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
    color: #000000;
    margin-bottom: 35px;

}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.contacts-wrapper:last-child {
    margin-bottom: 0;
}

.contacts-images {
    margin-right: 16px;
    width: 64px;
    height: 64px;
}

.contacts-phone-image {
    background-image: url("../images/conPhone.png");
}

.contacts-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #2E2E2E;
}

.contacts-mail-image {
    background-image: url("../images/conMail.png");
}

.working-image {
    background-image: url("../images/conTime.png");
}

.address-image {
    background-image: url("../images/conMap.png");
}

.contacts-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2E2E2E;
}

.questions {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.question-header {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 88px;
    color: #000000;
    margin-left: 31px;
}

.question-form {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 19px;
}

.input-text {
    width: 295px;
    height: 76px;
    padding-left: 20px;
    border: 1px solid #CCCCCC;
}

.input-wrapper {
    display: flex;
}

.half-display-input {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
}

.half-display-input:last-child{
    margin-right: 0;
}

.full-display-input {
    margin-top: 20px;
}

.input-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;

}

input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000000;
}

input::placeholder {
    color: #808080;
}
textarea::placeholder {
    color: #808080;
}
textarea {
    resize: none;
    padding-top: 28px;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.full-display-input {
    display: flex;
    flex-direction: column;
}

.input-request {
    width: 646px;
    height: 94px;
}



.submit-button {
    width: 270px;
    height: 100px;
    margin-top: 20px;
    background-color: #3A4574;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}

.map {
    margin-top: 50px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    margin-bottom: 50px;
}

.footer-social {
    border: 1px solid #000000;
    color: #000000;
}

.interior-photo {
    width: 969px
}

.interior-description {
    margin-bottom: 50px;
}