body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 901px;
    background-image: url("../images/headerBackgound.png");
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
}

nav {
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    justify-content: space-between;
}

.menu-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 40px;
}

.menu-item:last-child{
    margin-right: 0;
}

.phone-img {
    margin-right: 13px;
}
.header-phone {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.work-time {
    margin-top: 154px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #FFFFFF;
}

.greetings {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 88px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.button-reserve {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 270px;
    background-color: #3A4574;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.socials {
    display: flex;
}
.social {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
}

.social:last-child {
    margin-right: 0;
}

.events {
    display: flex;
    height: 808px;
    background-color: #FFFFFF;
}

.event {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #E7E7E7
}

.timetable {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 479px;
}

.event-day {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.dishes {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.dish {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-right: 12px;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #D3B47F;
    margin-right: 12px;
}

.event-pictures {
    position: relative;
}

.picture {
    position: absolute;
}

.picture-border {
    width: 471px;
    height: 502px;
    border: 2px solid #D3B47F;
    left: 600px;
    bottom: -3px;
    z-index: 0;
}

.first-picture {
    width: 323px;
    height: 486px;
    background-image: url("../images/Rectangle 77.png");
    z-index: 1;
    right: 345px;
    bottom: -88px;
}

.second-picture {
    width: 323px;
    height: 486px;
    background-image: url("../images/Rectangle 80.png");
    z-index: 2;
    right: 0px;
    bottom: 64px;
}